services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_SITE_URL: http://localhost:3000
      DATABASE_URL: mysql://root:password@db:3306/dalenian
    depends_on:
      - db

  db:
    image: mysql:8.4
    container_name: dalenian-db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: dalenian
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:

